hello_world.py
book_club/Pipfile
book_club/Pipfile.lock
book_club/flask_app/__init__.py
book_club/flask_app/__pycache__/__init__.cpython-310.pyc
book_club/flask_app/config/mysqlconnection.py
book_club/flask_app/config/__pycache__/mysqlconnection.cpython-310.pyc
book_club.zip
weather_app/flask_app/Pipfile.lock
weather_app/flask_app/Pipfile
weather_app/Pipfile
weather_app/Pipfile.lock
weather_app.zip
weather_app/client/src.zip
week2/__pycache__/art2.cpython-310.pyc
week2/__pycache__/art2.cpython-311.pyc
week2/art2.py
week2/art3.py
week2/__pycache__/art3.cpython-310.pyc
week2/__pycache__/art3.cpython-311.pyc
week2/art4.py
week2/__pycache__/art4.cpython-310.pyc
week2/__pycache__/art4.cpython-311.pyc
week3/__pycache__/art.cpython-310.pyc
.gitignore
week3/__pycache__/game_data.cpython-310.pyc
.gitignore
.idea/modules.xml
.idea/Python-Projects.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
week3/oop_coffee/__pycache__/coffee_maker.cpython-310.pyc
week3/oop_coffee/__pycache__/money_machine.cpython-311.pyc
week3/oop_coffee/__pycache__/money_machine.cpython-310.pyc
week3/oop_coffee/__pycache__/menu.cpython-311.pyc
week3/oop_coffee/__pycache__/menu.cpython-310.pyc
week3/oop_coffee/__pycache__/coffee_maker.cpython-311.pyc
