hello_world.py
book_club/Pipfile
book_club/Pipfile.lock
book_club/flask_app/__init__.py
book_club/flask_app/__pycache__/__init__.cpython-310.pyc
book_club/flask_app/config/mysqlconnection.py
book_club/flask_app/config/__pycache__/mysqlconnection.cpython-310.pyc
book_club.zip
weather_app/flask_app/Pipfile.lock
weather_app/flask_app/Pipfile
weather_app/Pipfile
weather_app/Pipfile.lock
weather_app.zip
weather_app/client/src.zip
week2/__pycache__/art2.cpython-310.pyc
week2/__pycache__/art2.cpython-311.pyc
week2/art2.py
week2/art3.py
week2/__pycache__/art3.cpython-310.pyc
week2/__pycache__/art3.cpython-311.pyc
